<mat-card class="card">
    <mat-card-title>
        <h3>Agenda</h3>
    </mat-card-title>
    <mat-card-content>
        <h2>teste misera</h2>
        <div class="example-container mat-elevation-z8">
            <mat-table #table [dataSource]="dataSource">
                <ng-container matColumnDef="paciente">
                    <mat-header-cell *matHeaderCellDef> Paciente </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.paciente}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="dataNascimento">
                    <mat-header-cell *matHeaderCellDef> Data Nascimento </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.dataNascimento}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="dataInicial">
                    <mat-header-cell *matHeaderCellDef> Data Inicial </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.dataInicial | date: 'HH:mm'}} do dia {{element.dataInicial | date: 'dd/MM/yyyy'}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="dataFinal">
                    <mat-header-cell *matHeaderCellDef> Data Final </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.dataFinal | date: 'HH:mm'}} do dia {{element.dataFinal | date: 'dd/MM/yyyy'}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="observacoes">
                    <mat-header-cell *matHeaderCellDef> Observacoes </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.observacoes}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="delete">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-icon-button color="warn" (click)="deletarConsulta(element.paciente)">
                            <mat-icon class="icon">delete_outline</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <div id="posicionar">  
                <button mat-button style="background-color: blue; color: white;">Adicionar</button>
            </div>
        </div>
    </mat-card-content>
</mat-card>