   <h2>Agenda de Compromissos</h2>
    
    <mat-card-content>  
            <button mat-raised-button color="primary" (click)='onCreate()'>
                <mat-icon>add</mat-icon> Agendar
            </button>
            <mat-form-field class="search-form-field" floatLabel="never">
                <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
                <button mat-button matSuffix mat-icon-button aria-label="clear" *ngIf="searchKey" (click)="onSearchClear()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
    <br><br>
        <div class="example-container mat-elevation-z8">
            <mat-table #table [dataSource]="dataSource" matSort>
                <ng-container style="min-width: 250px;" matColumnDef="paciente">
                    <mat-header-cell style="min-width: 250px;" *matHeaderCellDef mat-sort-header> Paciente </mat-header-cell>
                    <mat-cell style="min-width: 250px;" *matCellDef="let element"> {{element.paciente}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="dataNascimento">
                    <mat-header-cell style="margin-left: 10px;" *matHeaderCellDef mat-sort-header> Data de Nascimento </mat-header-cell>
                    <mat-cell style="margin-left: 10px;" *matCellDef="let element"> {{element.dataNascimento | date: 'dd/MM/yyyy'}} </mat-cell>
                </ng-container>
                <ng-container  matColumnDef="dataInicial">
                    <mat-header-cell  *matHeaderCellDef mat-sort-header> Data Inicial </mat-header-cell>
                    <mat-cell  *matCellDef="let element"> {{element.dataInicial | date: 'HH:mm'}} do dia {{element.dataInicial | date: 'dd/MM/yyyy'}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="dataFinal">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Data Final </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.dataFinal | date: 'HH:mm'}} do dia {{element.dataFinal | date: 'dd/MM/yyyy'}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="observacoes">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Observações </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.observacoes}} </mat-cell>
                </ng-container>
                <ng-container style="max-width: 75px;" matColumnDef="delete">
                    <mat-header-cell style="max-width: 75px;" *matHeaderCellDef></mat-header-cell>
                    <mat-cell style="max-width: 75px;" *matCellDef="let element">
                        <button mat-icon-button color="primary" (click)="onUpdate(element)">
                            <mat-icon class="icon">edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="deletarConsulta(element.dataInicial)">
                            <mat-icon class="icon">delete_outline</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="noData">
                    <mat-footer-cell *matFooterCellDef coslpan="6"> Sem dados </mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="loading">
                    <mat-footer-cell *matFooterCellDef coslpan="6"> Carregando dados... </mat-footer-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide' : dataSource == null || !isEmpty(dataSource)}"></mat-footer-row>
                <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide' : dataSource != null}"></mat-footer-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[6, 10, 25, 100]" [pageSize]="6" showFirstLastButtons></mat-paginator>
        </div>
    </mat-card-content>
