<mat-card-content >
<br>
<div align="center">
    <span class="titulo">{{modoUpdate?"Editar Consulta":"Agendar Consulta"}}</span>
</div>

<div class="btn-dialog-close">
  <button mat-stroked-button *ngIf="!botaoFecharOculto" (click)="onClose()" tabIndex="-1">X</button>
</div>

<form [formGroup]="service.form" (submit)="onSubmit()">
    <mat-grid-list cols="2" rowHeight="300px" style="width: 100%;">
        <mat-grid-tile>
            <div class = "controles-container">
                <mat-form-field class="controles-container-full">
                    <input formControlName="paciente" matInput placeholder="Paciente*" autocomplete="off" (blur)="aplicarValidacao('paciente')">
                    <mat-error>Este campo é obrigatório</mat-error>
                </mat-form-field>
                <mat-form-field class="controles-container-full">
                    <input formControlName="dataNascimento" matInput [matDatepicker]="picker" placeholder="Data de Nascimento*" autocomplete="off" (blur)="aplicarValidacao('dataNascimento')">
                    <mat-error *ngIf="service.form.controls['dataNascimento'].errors?.required">Este campo é obrigatório</mat-error>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="controles-container-full">
                    <input formControlName="observacoes" matInput placeholder="Observações" autocomplete="off">
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class ="controles-container">
                <mat-form-field class="controles-container-metade">
                    <input formControlName="dataInicial" matInput [matDatepicker]="picker1" placeholder="Data Inicial*" autocomplete="off" (blur)="aplicarValidacao('dataInicial')">
                    <mat-error *ngIf="service.form.controls['dataInicial'].errors?.required">Este campo é obrigatório</mat-error>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="controles-container-metade">
                    <input type="time" formControlName="horaInicial" matInput placeholder="Hora de Início*" (blur)="aplicarValidacao('horaInicial')">
                    <mat-error *ngIf="service.form.controls['horaInicial'].errors?.required">Este campo é obrigatório</mat-error>
                    <mat-error *ngIf="service.form.controls['horaInicial'].errors?.horainvalida">Hora Inválida</mat-error>
                </mat-form-field>
                <mat-form-field class="controles-container-metade">
                    <input formControlName="dataFinal" matInput [matDatepicker]="picker2" placeholder="Data Final*" autocomplete="off" (blur)="aplicarValidacao('dataFinal')">
                    <mat-error *ngIf="service.form.controls['dataFinal'].errors?.required">Este campo é obrigatório</mat-error>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="controles-container-metade">
                    <input type="time" formControlName="horaFinal" matInput placeholder="Hora de Término*" (blur)="aplicarValidacao('horaFinal')">
                    <mat-error *ngIf="service.form.controls['horaFinal'].errors?.required">Este campo é obrigatório</mat-error>
                </mat-form-field>
                <div class="button-row">
                    <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid || camposVazios()">Confirmar</button>
                    <button mat-raised-button color="warn" (click)="onClear()">Limpar</button>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>
</mat-card-content>